[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "~=2.10.0"
aiohttp = "~=3.8.5"
asyncpg = "~=0.28.0"
python-dotenv = "~=1.0.0"
asyncio = "~=3.4.3"
sqlalchemy = "~=2.0.20"

[dev-packages]

[requires]
python_version = "3.10"
