-i https://pypi.org/simple
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
asyncio==3.4.3
asyncpg==0.28.0
attrs==23.1.0
automat==22.10.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.3
cssselect==1.2.0
filelock==3.12.2
frozenlist==1.4.0
greenlet==2.0.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
lxml==4.9.3
multidict==6.0.4
packaging==23.1
parsel==1.8.1
protego==0.3.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydispatcher==2.0.7
pyopenssl==23.2.0
python-dotenv==1.0.0
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
scrapy==2.10.0
service-identity==23.1.0
setuptools==68.1.2
six==1.16.0
sqlalchemy==2.0.20
tldextract==3.4.4
twisted==22.10.0
typing-extensions==4.7.1
urllib3==2.0.4
w3lib==2.1.2
yarl==1.9.2
zope.interface==6.0
